.scene{
    color:darkslateblue;
}

.speech{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    text-decoration: solid;
    text-indent: 20px;
}
.song{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: solid;
    text-decoration-color: lightcoral;
    text-indent: 50px;
}
.direction:hover{
    background-color:aquamarine;
    color: brown;
}
.name{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}
.direction{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    background-color: aqua;

}

h6{
    color: yellow;
    font-size:15px;
    font-style: inherit;
}

.mar{
      color:mediumorchid;
      font-family:'Times New Roman', Times, serif;
      font-size: 15px;
}

.all{

    color:tomato;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;

}
.giu{
    
    color:indigo;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}

.tess:hover{
    color:darkblue;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    background-color:orchid;
    filter:blur(1px);
    text-shadow: 2px;
}

.gio{
    color:chocolate;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}
.gia:hover{
    color:darkblue;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    filter: blur(1px);
    text-shadow: 2px;
}
.both:hover{
    color:blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    filter: blur(1px);
    text-shadow: 3px;
}
.anni{

    color:coral;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;

}
.cas{
    color:orange;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}
.luiz{
    color:lavender;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}
.fia{
    color:crimson;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}
.vit{

    color:orangered;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;

}
.chorus{
    color:cornflowerblue;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}

.margiu{
    color: maroon;
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }
  
  th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }

  navbar-horizontal {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: azure;
    }
    ul.navbar-horizontal li {
    float:left; 
    color:darkslategrey;
    background-color:grey;
   
    }
    .navbar-horizontal a {
    display:block;
    padding: 15px;
    color: aliceblue;
    }

    .navbar-horizontal a:hover {  
    background-color:chartreuse;
    color:white;
    }